.interaction{
    margin-bottom: 200px;
    @media screen and (max-width: 1400px){
        margin-bottom: 100px; 
    }
    &__h2{
      margin-bottom: 112px; 
        @media screen and (max-width: 767px){
            width: 90%;
            margin-bottom: 30px; 
        }
    }
    &__wrap{
        display: flex;
        justify-content: space-around;
        @media screen and (max-width: 1730px){
            justify-content: space-between;
        }
        @media screen and (max-width: 1200px){
            justify-content: center;
        }
    }
    &__head{
        position: relative;
        width: 19%;
        @media screen and (max-width: 1200px){
           min-width: 160px;
           margin: -16px 20px 0 0;
        }
        @media screen and (max-width: 450px){
            min-width: 80px;
            margin: 85px 64px 0 0;
         }
         @media screen and (max-width: 350px){
            margin: 61px 40px 0 0;
        }
    }
    &__head-img{
        @media screen and (max-width: 1200px){
            width: 150px;
        }
        @media screen and (max-width: 450px){
            width: 80px;
        }
    }
    &__list{
        width: 30%;
        @media screen and (max-width: 1730px){
            width: 43%;
        }
        @media screen and (max-width: 1300px){
            width: 36%;
        }
        @media screen and (max-width: 1200px){
            min-width: 270px;
        }
        @media screen and (max-width: 450px){
            min-width: 185px;
        }
    }
    &__list-item{
        list-style-type: none;
        margin-bottom: 53px;
        color: #F1F1F1;
        display: flex;
        align-items: center;
        @media screen and (max-width: 1730px){
            margin-bottom: 55px;
        }
        @media screen and (max-width: 1300px){
            margin-bottom: 61px;
        }
        @media screen and (max-width: 1200px){
            margin-bottom: 35px;
        }
    }
    &__list-icon{
        position: relative;
        display: flex;
        width: 18px;
        height: 18px;
        margin-right: 42px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background: #F1F1F1;
        flex-shrink: 0;
        @media screen and (max-width: 1200px){
            margin-right: 20px;
            width: 10px;
            height: 10px;
        }
        @media screen and (max-width: 350px){
            margin-right: 10px;
        }
        &:before{
            position: absolute;
            content: "";
            width: 12px;
            height: 12px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            background: #F1F1F1;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid #000000;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            @media screen and (max-width: 1200px){
                margin-right: 20px;
                width: 6px;
                height: 6px;
            }
        }
    }
    &__head-line{
        position: absolute;
        right: -385px;
        top: 12px;
        z-index: 3;
        @media screen and (max-width: 1730px){
            right: -440px;
            width: 495px;
        }
        @media screen and (max-width: 1200px){
            display: none;
        }
    }
    &__head-line-resp{
        display: none;
            @media screen and (max-width: 1200px){
                display: block;
                position: absolute;
                top: 28px;
                z-index: 3;
                width: 55px;
                right: -22px;
            }
            @media screen and (max-width: 450px){
                top: -51px;
                width: 69px;
                right: -57px;
            }
            @media screen and (max-width: 350px){
                top: -27px;
                width: 56px;
                right: -34px;
            }
    }
}