.jfrog-artifactory{
    align-items: end;
    padding-bottom: 182px;
    @media screen and (max-width: 1730px){
        padding-bottom: 50px;
    }
    @media screen and (max-width: 1200px){
        flex-direction: column-reverse;
    }
    @media screen and (max-width: 367px){
        padding-bottom: 73px;
    }
    @media screen and (max-width: 350px){
        padding-bottom: 57px;
    }
    @media screen and (max-width: 337px){
        padding-bottom: 46px;
    }
    @media screen and (max-width: 330px){
        padding-bottom: 59px;
    }
    @media screen and (max-width: 321px){
        padding-bottom: 39px;
    }
    .description__logo{
        width: 36.2%;
        margin-top: 50px;
        img{
            width: 100%;
        }
        @media screen and (max-width: 1200px){
            align-self: center;
        }
        @media screen and (max-width: 600px){
            width: 89%;
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 1200px){
            position: static;
            width: 100%;
        }
    }
    &__content-h2{
        margin-bottom: 29px;
        @media screen and (max-width: 767px){
            width: 65%;
        }
    }
    .jfrog-text{
        color: rgba(255, 255, 255, 0.8);
    }
}