.team{
    padding-bottom: 200px;
    @media screen and (max-width: 1730px){
        padding-bottom: 130px;
    }
    @media screen and (max-width: 1400px){
        padding-bottom: 90px;
    }
    &__h2{
        margin-bottom: 82px;
        position: relative;
        @media screen and (max-width: 1200px){
            margin: 0 auto 50px;
            width: 60%;
            text-align: center;
        }
        @media screen and (max-width: 500px){
            margin: 0 auto 30px;
            width: 92%;
            text-align: left;
        }
        &:after{
            position: absolute;
            content: "";
            top: 50%;
            left: -37px;
            width: 37px;
            height: 141px;
            border-top: 1px solid rgba(237, 28, 36, 0.5);
            border-left: 1px solid rgba(237, 28, 36, 0.5);
            border-bottom: 1px solid rgba(237, 28, 36, 0.5);
            background: transparent;
            border-bottom-left-radius: 13px;
            border-top-left-radius: 13px;
            @media screen and (max-width: 1200px){
                content: none;
             }
        }
    }
    &__h2-number{
        color: $colorsecondary;
        padding: 0 10px;
    }
    &__wrap{
        display: flex;
        justify-content: space-between;
        position: relative;
        @media screen and (max-width: 1200px){
            flex-direction: column;
            width: 33%;
            margin: auto;
        }
        @media screen and (max-width: 767px){
            width: 79%;
        }
    }
    &__item{
        background: rgba(28, 28, 28, 0.1);
        border: 1px solid #ED1C24;
        box-sizing: border-box;
        backdrop-filter: blur(50px);
        border-radius: 4px;
        padding: 15px 30px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        color: #FFFFFF;
        position: relative;
        @media screen and (max-width: 1730px){
            font-size: 18px;
        }
        @media screen and (max-width: 1200px){
            text-align: center;
            font-size: 14px;
            padding: 9px 30px;
            margin-bottom: 20px;
            border: 1px solid rgba(237, 28, 36, 0.5);
        }
        &:after{
            position: absolute;
            content: "";
            height: 1px;
            background: rgba(237, 28, 36, 0.5);
            top: 50%;
            width: 134px;
            left: -136px;
            @media screen and (max-width: 1730px){
                width: 59px;
                left: -61px;
            }
            @media screen and (max-width: 1300px){
                width: 20px;
                left: -20px;
            }
            @media screen and (max-width: 1200px){
                content: none;
            }
        }
        &:nth-child(1){
            &:after{
                content: none;
                @media screen and (max-width: 1200px){
                    content: "";
                }
                @media screen and (max-width: 1200px){
                    content: none;
                }
            }
        }
    }
    &__line{
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        left: -89px;
        top: 3px;
        @media screen and (max-width: 1200px){
            display: block;
        }
    }
}