h1{
    font-style: normal;
    font-weight: 700;
    font-size: 78px;
    line-height: 120%;
    @media screen and (max-width: 1730px){
        font-size: 60px;
    }
    @media screen and (max-width: 1200px){
        font-size: 50px;
    }
    @media screen and (max-width: 470px){
        font-size: 40px;
    }
}
h2{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    @media screen and (max-width: 1730px){
        font-size: 32px;
    }
    @media screen and (max-width: 1300px){
        font-size: 22px;
    }
    @media screen and (max-width: 1200px){
        font-size: 18px;
    }
}
h3{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
}
.title-img{
    position: relative;
    @media screen and (max-width: 767px){
        margin-left: 10px;
    }
    &:after{
        position: absolute;
        content: url("../../svg/pattern.svg");
        width: 66px;
        height: 33px;
        left: -107px;
        top: 0px;
        @media screen and (max-width: 1400px){
            left: -84px;
        }
        @media screen and (max-width: 1200px){
            content: url("../../svg/pattern-resp.svg");
            left: -39px;
        }
    }
}
.jfrog-text{
    margin-bottom: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    @media screen and (max-width: 1730px){
        font-size: 18px;
    }
    @media screen and (max-width: 1300px){
        font-size: 14px;
    }
    @media screen and (max-width: 350px){
        font-size: 12px;
        margin-bottom: 15px;
    }
}
.container{
    max-width: 1540px;
    margin: auto;
    @media screen and (max-width: 1730px){
        width: 1170px;
    }
    @media screen and (max-width: 1300px){
        width: 1000px;
    }
    @media screen and (max-width: 1200px){
        width: 700px;
    }
    @media screen and (max-width: 768px){
        width: calc(100% - 70px);
    }
    @media screen and (max-width: 350px){
        width: calc(100% - 60px);
    }
}
.btn {
    text-transform: capitalize;
    border-radius: 2px;
    background: linear-gradient(100.91deg, #292929 -88.55%, rgba(28, 28, 28, 0) 149.18%), #1C1C1C;
    color: #FF0000;
    border: 1px solid #FF0000;
    &:disabled {
        background: linear-gradient(100.91deg, #292929 -88.55%, rgba(28, 28, 28, 0) 149.18%), #1C1C1C;
        border: 1px solid #525252;
        box-sizing: border-box;
        color: #525252;
    }
    &:hover {
        background: linear-gradient(100.91deg, #4F4F4F -88.55%, rgba(28, 28, 28, 0) 149.18%), #1C1C1C;
        color: #FF0000;
        border: 1px solid #FF0000;
    }
    &:active {
        background: linear-gradient(100.91deg, #530000 -88.55%, rgba(28, 28, 28, 0) 149.18%), #1C1C1C;
        color: #FF0000;
    }
}
$bgmain: #1C1C1C;
$colormain: #F1F1F1;
$colorMenu: #F0F0F0;
$colorsecondary: #FF0000;